button {
    width: 140px; 
    height: 30px;
    border: 1px solid rgb(193, 198, 239);
    background-color: white;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(193, 198, 239);
}